h1,h2 {
    font-size: 60px;
    text-align: center;
    font-family: arial;
    margin: 10px;
}

button{
    display: block;
    margin: auto;
    font-size: medium;
    border: 2px solid;
    color: brown;
    border-radius: 5px;
}

.btn-mulai {
    cursor: not-allowed;
}

body {
    background-color: green;
}

.container {
    width: 600px;
    margin: auto;
    cursor: url(../Assets/palu1.png), auto;
}

.container:active {
    cursor: url(../Assets/palu2.png), auto;
}

.tanah {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    float: left;
}

.tanah::after {
    content: "";
    display: block;
    width: 200px;
    height: 100px;
    background: url(../Assets/tanah.png) bottom center no-repeat;
    background-size: 80%;
    position: absolute;
    bottom: -25px;
}

.tikus {
    width: 100%;
    height: 100%;
    background: url(../Assets/tikus.png) bottom center no-repeat ;
    background-size: 60%;
    position: relative;
    top: 100px;
    transition: 0.3s;
}

.tanah.muncul .tikus{
    top: -20px;
}

@media Screen and (max-width : 650px) {
    h1,h2 {
        font-size: 20px;
    }
    .container {
        width: 100%;
    }
    .tanah {
        width: calc(100%/3);
        height: 30vh;
    }
    
    .tanah::after {
        width: 100%;
        background-size: 100%;
    }

    .tikus {
        top: 70px;
        background-size: 60%;
    }

    .tanah.muncul .tikus{
        top: -10px;
    }
}